@import url('https://fonts.googleapis.com/css?family=Sansita')
    * {
    box-sizing: border-box;
    /* changes width property
    to total width instead of content width */
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
    /* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
background-color: salmon
}

body {
    margin: 0;
    /* remove any margin from body */
    padding: 0;
    /* ditto for padding */
    
    font-size: 20px;
    background-image: url("sunny-winter.jpg");
    background-size: cover; 
    
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

ul {
    display: flex
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: salmon
    
}
nav a:link {text-decoration: none;
color: #47556f}

.title h1+h1 {
    text-align: right
}

h1, h2, h3, h4, h5, h6, { font-family: Sansita, "second choice", generic-family;}
