/* This is my main CSS file*/

{
    box-sizing: border-box;/* changes width property
    to total width instead of content width */
}

article,
aside,
footer,
header,
head,
nav,
img,
section,
main,
figcaption,
figure{
    display : block; /* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
}

body {
    margin: 0; /* remove any margin from body */
    padding: 0;/* ditto for padding */
    background-color: salmon
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
ul {
    display: flex;

}
h1 {
    text-align: right;
    margin-top: 0em
}
.title h1+h1 {
    text-align: right
}
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0
}

p{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

footer {
    line-height: 1.25em
}