@import url('https://fonts.googleapis.com/css?family=Sansita')
    * {
    box-sizing: border-box;
    /* changes width property
    to total width instead of content width */
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
    /* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
}

body {
    display:flex wrap;
    margin: 0;
    /* remove any margin from body */
    padding: 0;
    /* ditto for padding */
    font-size: 20px;
    background-color: salmon;   
}

main {
    display: flex;
    flex-flow: column;
    align-items: flex-start;  
}

nav ul {
    display: flex; 
}

nav li{
    display: flex wrap;
    font-size: 1.5em;
    padding-right: 50px

}
nav a:link {text-decoration: none;
color: #47556f}

.title {
    text-align: right;
    background-color: aqua;
    font-size: 2em
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6, { font-family: Sansita, "second choice", generic-family;}
