html{
    padding:0;
    border:0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, "second choice", generic-family;
}
@import url('https://fonts.googleapis.com/css?family=Sansita');
body{
    font-size: 20px;
      background-image: url(sunny-winter.jpg)
        
}
header{
    background-color: aqua;
    text-align: center
}

header h2{
    text-align: right
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

nav{
    background-color: salmon;
    position: fixed;
    bottom:0;
    right: 0;
    left:0
    
}
.col3{
    order:-1;
    text-align: center;
    
}
.top{
    width: 150px;
    background-color: rgba(200, 200, 200, .6);
    border: .2px solid;
    border-radius: 5px
}
.col1{
    
    text-align: center;
    background-color: rgba(200, 200, 200, .6);
    border: 1px solid;
    border-radius: 5px;
    align-self: 
}
nav{
    
}