* {
    box-sizing: border-box;
    /* changes width property
    to total width instead of content width */
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
    /* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
}

body {
    margin: 0;
    /* remove any margin from body */
    padding: 0;
    /* ditto for padding */
    background-image: url(sunny-winter.jpg);
    background-size: cover
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
p,
dl {
    font-size: ;
    font-family: Sansita, "second choice", generic-family;
}

.title h1+h1 {
    text-align: right;
}

header {
    background-color: aqua;
    text-align: right
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: salmon;
}

ul {
    display: flex;
}

li {
    padding-right: 50px
}

p, dl {
    font-size: 2em
}

.col3 {
    order: -1;
    text-align: center;
}

.top {
    width: 150px;
    background-color: rgba(200, 200, 200, .6);
    border: .2px solid;
    border-radius: 5px
}

.col1 {
    display: flex;
    text-align: center;
    background-color: rgba(200, 200, 200, .6);
    border: 1px solid;
    border-radius: 5px;
    align-self: center;
}

@media screen and  (min-width: 500px){
    
    p{
        font-size: 5em
    }
}