@media screen only and (max-width 600px) {}

{
    box-sizing: border-box
    /* changes width property
    to total width instead of content width */
    @import url('https://fonts.googleapis.com/css?family=Sansita')
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block;
    /* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
}

body {
    margin: 0;
    /* remove any margin from body */
    padding: 0;
    /* ditto for padding */
    font-size: 20px;
    background-image: url("sunny-winter.jpg");
    background-size: cover;
}

main {}

header {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: right;
    background-color: #a6d8db
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f07c6c;
}

nav a:link {
    text-decoration: none;
    color: #47556f
}

.title h1+h1 {
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, "second choice", generic-family;
}

.col1{
    flex-direction: column;
    max-width: 150px
}
.col2{
    flex-direction: column;
    justify-content: flex-end;
    max-width: 200px;
    max-height: 1000px;
    

}
.col3{
        
    background-color: rgba(200, 200, 200, .6);
    margin: auto;
    border: 1px solid;
    border-radius: 5px
}
.dice {
    transform: rotate(25deg);
    display: inline-block;
}
@media screen and (min-width: 600px) {}

main {
    flex: 1;
    display: flex;
    flex-flow: row;
    align-content: space-between
}

nav {
    display: flex;
    position: relative;
}

nav li a {
    padding: 20px;
}
