article,
aside,
footer,
header,
nav,
section,
main,
html,
figcaption,
figure {
    display: block;
    width: auto;
    /* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
}
  


body {
    width: auto;
    margin: 0;
    /* remove any margin from body */
    padding: 0;
    /* ditto for padding */
    background-size: cover;
    flex-grow: 1;
    background-image: 
}
.col2{display:none}

h2,
h3,
h4,
h5,
h6,
li,
ul,
p,
dl {
    font-size: 1.1em;
    color: white;
}

.title {
    text-align: right;
    width: auto;
    font-size: 2em;
    color
}

header {
    background-color: aqua;
    text-align: right;
    width: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

nav {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: salmon;
    width: auto
}

nav ul {
    display: flex;
}

li {
    padding-right: 50px
}

p,
dl {
    font-size: 2em
}

.col3 {
    order: -1;
    text-align: center;

}

.top {
    background-color: rgba(200, 200, 200, .6);
    border: .2px solid;
    border-radius: 5px
}

.col1 {
    display: flex;
    text-align: center;
    background-color: rgba(200, 200, 200, .6);
    border: 1px solid;
    border-radius: 5px;
    align-self: center;
    
}

footer {
    width: auto
}
#sun {
    background-image: url(sunny-winter.jpg);
}
    #thunder{
        background-image: url(lightning001a.jpg);
        background-size: cover;}
   
@media only screen and (min-width: 700px) {

    

header {
    margin: 0;
    padding: 0;
    background-color: aqua;
    text-align: center;
}

body {
    margin: 0;
    /* remove any margin from body */
    padding: 0;
    /* ditto for padding */
}

p {
    font-size: 3em
}

body {
    background-image: none;
    background-color: salmon;
}

main {
    display: flex;
    flex-direction: row;
    align-items: stretch
}

.col1 {
    width: 200px;
    display: flex;
    order: -1;
    align-self: flex-start;
    border: 0px;
    flex-grow: 1;
}

.col2 {
    flex-grow: 1;
    display: flex;
}

.col2 ul {
    align-content: center;
    flex-direction: column;
}

.col3 {
    background-image: ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 3;
    order: 0;
}

nav {
    display: flex;
    background-color: salmon;
}

li {
    padding-right: 50px;
}

ul {
    display: flex;
}

.top {
    flex-direction: column;
    background-color: rgba(200, 200, 200, .6);
    border: 1px solid;
    border-radius: 5px;
    width: 150px;
    text-align: center
}


}
